
#nagłowek{
	text-align:center;
	color: white;
	height:100px;
	background:red;
}
.kolumna1{
	float:left;
	width:20%;
	height:75px;
    background:#23E889;
}
.kolumna2{
	float:left;
	width:20%;
	height:75px;
	background:#58CDFF;

}
.kolumna3{
float:left;
	width:20%;
	height:75px;
    background:#58CDFF;
}
.kolumna4{
	float:left;
	width:20%;
	height:75px;
    background:	#58CDFF;
}
.kolumna5{
float:left;
	width:20%;
	height:75px;
    background:	#58CDFF;
}
.kolumna6{
text-align:center;
	float:left;
	width:100%;
	height:700px;
	background:#23E889;
}
a:link {color: white; font:FreeMono;}
a:visited {color: #F70505; font: FreeMono;}
a:hover {color: #DB5CC4; font:1cm'Andale Mono';}
a:active {color:#F06108; font:1cm 'Andale Mono';}
#clear{
	clear:both;
}
#stopka{
	color:black;
	height:800px;
	background:#EFFF5C;
	background-image:url(jedzenie.jpg);
	font:'Bradley Hand';
}
p{
	font: 2cm Courier;
	color:black;
	text-align:right;
}